.circle-wrap {
  display: -webkit-box;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.circle {
  height: 90px;
  -webkit-box-flex: 1;
  border-width: 5px;
  border-style: solid;
}
.circle-left {
  border-radius: 50px 0 0 50px;
  transform-origin: 100% 50%;
  z-index: 1;
}

.circle-right {
  border-radius: 0 50px 50px 0;
  transform-origin: 0 50%;
  z-index: 2;
}
