.done {
  display: flex;
}
.doneIcon {
  width: 20px;
  height: 20px;
  background-color: #67c23a;
  border-radius: 20px;
}
.doneTitle {
  width: 200px;
  height: 400px;
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: 20px;
  background-color: #ebeef5;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doneTitle::before {
  content: "";
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: #ebeef5;
  transform: rotateZ(180deg);
  position: absolute;
  left: -16px;
  top: 10px;
}
