.stepProgressDemo {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.stageProgress {
  width: 320px;
  padding-top: 20px;
  padding-bottom: 40px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}
.progressWrap {
  width: 100%;
  height: 10px;
}
.stepsWrap {
  margin-top: -20px;
  margin-left: 100px;
  position: relative;
}
