.dot-wrap {
  position: relative;
}
.dot {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: -50%;
  top: -10px;
  display: flex;
}
.dot-icon {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
}
.dot-title {
  width: 200px;
  margin-left: 20px;
}
