.timeLineDemo {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.timeLineListWrap {
  width: 300px;
  height: 500px;
  overflow-y: scroll;
}
.timeLineList {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.timeLineItemWrap {
  display: flex;
}
.timeLineItemBar {
  border-radius: 10px;
  background-color: #ebeef5;
}
.timeLineItemBarInner {
  border-radius: 10px;
  background-color: #409eff;
}
.timeLineItem {
  margin-left: -15px;
  margin-top: -5px;
  position: relative;
  display: flex;
}
